@{
    ViewData["Title"] = "Welcome";
}
 <!-- Registration Section -->
<section class="registration">
  <div class="body-container grid-2">
     <div class="registration-text">
        <p>Welcome to the MACK inventory management system website, the ultimate solution for automobile businesses seeking to efficiently track, organize and optimize their vehicle inventory to streamline operations and drive success.</p>
     </div>
     <div class="registration-form card">
        <h2>Login</h2>
        <form>
            <input type="text" name="username" placeholder="username" required />
            <input type="password" name="password" placeholder="password" required />
            <input type="submit" value="Send" class="btn" />
        </form>
     </div>
  </div>
</section>


