@using MACK.Areas.Identity.Pages.Account;
@model LoginModel

@{
    ViewData["Title"] = "Welcome";
}
<!-- Registration Section -->
<div class="text-center">
    <h1 class="display-4">Dealership Inventory Management Solutions</h1>
</div>

<div class="vehicle-data-title row round-img index-card">
    <hr />
    <div class="col-md-9 home-copy">
        <h2>Welcome to Project MACK</h2>
        <p>
            Introducing our innovative dealership inventory data management solution - a game-changer in the automotive dealership industry.<br /><br />

            With this technology, you'll have full control and visibility over your dealership's inventory, allowing you to make informed decisions and optimize your operations like never before. <br /><br />

            Our dealership inventory data management solution offers a comprehensive set of features designed to streamline and enhance your inventory management processes. By leveraging advanced algorithms and data analytics, you can easily track and monitor your vehicle stock, access real-time updates, and gain valuable insights into sales trends and customer preferences. With intuitive user interfaces and customizable dashboards, you can personalize the system to suit your specific needs and easily navigate through the extensive inventory database. Stay ahead of the competition and revolutionize your dealership's operations with our cutting-edge solution.

        </p>
    </div>
    <hr />
</div>
