@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to MACK_IMS</h1>
</div>

<div class="vehicle-data-title row round-img index-card">
    <hr />
    <div class="col-md-6 home-copy">
    <h2>Dealership Inventory Management Solutions</h2>
    <p>
        Introducing our innovative dealership inventory data management solution - a game-changer in the automotive dealership industry.<br/><br/>

        With MACK_IMS technology, you'll have full control and visibility over your dealership's inventory, allowing you to make informed decisions and optimize your operations like never before.
    </p>
</div>
    <div class="col-md-6">
        <img src="~/images/car-hero.jpg" class="round-img"/>
        <div class="login-register">
            
            <partial name="_LoginPartial" /><a asp-action="Create">
                
            </a>
            <button class="btn" id="createBtn" onclick="openCreateDialog(event)">
            Quick Create
            <i class="fas fa-plus"></i>
        </button>
        </div>
        
    </div>
    <hr />
</div>
