@model MACK.Models.Model

@{
    ViewData["Title"] = "Delete";
}

<!-- Heading -->
<div class="vehicle-data-title flex">
    <h2>Are you sure you want to delete this model?</h2>
    <a asp-action="Index" class="btn editBtn"><i class="fa-solid fa-chevron-left"></i></a>
</div>

<!-- Model -->
<div class="vehicle-card details">
    <div class="card-header">
        <div class="col-md-4 details-column">
            <ul>
                <li>
                    <span>Model Name</span>
                    @Html.DisplayFor(modelItem => modelItem.ModelName)
                </li>
                <li>
                    <span>Manufacturer Name</span>
                    @Html.DisplayFor(modelItem => modelItem.Manufacturer.ManufacturerName)
                </li>
            </ul>
        </div>
    </div>
    <!-- Delete -->
    <div class="col-md-12 text-center">
        <div class="card-buttons flex">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ModelId" />
                <input type="submit" value="Delete" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
