@model MACK.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<div class="vehicle-data-title flex">
    <h2>Vehicles</h2>
    <a asp-action="Index" class="btn editBtn"><i class="fa-solid fa-chevron-left"></i></a>
</div>

<h4>Create Vehicle</h4>
<hr />
<form asp-action="Create">
    <div class="row vehicle-form">
        <div class="col-md-4 vehicle-column">
            <!-- First column -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VIN" class="control-label"></label>
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Manufacturer.ManufacturerId" class="control-label model-control">Manufacturer</label>
                <select id="manufacturerDropdown" asp-for="Model.Manufacturer.ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId">
                    <option value="" selected disabled>Select a manufacturer</option>
                    <option value="-1">Create New</option>
                </select>
                <span asp-validation-for="Model.Manufacturer.ManufacturerId" class="text-danger"></span>
            </div>
            <!-- New Manufacturer input field -->
            <div id="newManufacturerInput" class="form-group" style="display: none;">
                <label>New Manufacturer</label>
                <input type="text" name="NewManufacturerName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Fuel" class="control-label"></label>
                <input asp-for="Fuel" class="form-control" />
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExteriorColour" class="control-label"></label>
                <input asp-for="ExteriorColour" class="form-control" />
                <span asp-validation-for="ExteriorColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InteriorColour" class="control-label"></label>
                <input asp-for="InteriorColour" class="form-control" />
                <span asp-validation-for="InteriorColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyDoorCount" class="control-label"></label>
                <input asp-for="BodyDoorCount" class="form-control" />
                <span asp-validation-for="BodyDoorCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 vehicle-column">
            <!-- Second column -->
            <div class="form-group">
                <label asp-for="Features" class="control-label"></label>
                <input asp-for="Features" class="form-control" />
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label">Model</label>
                <select id="modelDropdown" asp-for="ModelId" class="form-control" disabled>
                    <option value="" selected disabled>Select a model</option>
                </select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <!-- New Model input field -->
            <div id="newModelInput" class="form-group" style="display: none;">
                <label>New Model</label>
                <input type="text" name="NewModelName" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockNumber" class="control-label"></label>
                <input asp-for="StockNumber" class="form-control" />
                <span asp-validation-for="StockNumber" class="text-danger"></span>
            </div>
            <div class="form-checks">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input my-2" asp-for="IsUsed" /> @Html.DisplayNameFor(model => model.IsUsed)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input my-2" asp-for="IsAutomatic" /> @Html.DisplayNameFor(model => model.IsAutomatic)
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <!-- Button column -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
var manufacturerDropdown = document.querySelector("#manufacturerDropdown");
var modelDropdown = document.querySelector("#modelDropdown");
var newManufacturerInput = document.querySelector("#newManufacturerInput");
var newModelInput = document.querySelector("#newModelInput");
var modelLabel = document.querySelector("div.form-group > label[for='ModelId']"); // Select the label for ModelId

var modelsData = @Html.Raw(Json.Serialize(ViewData["Models"]));
var manufacturersData = @Html.Raw(Json.Serialize(ViewData["Manufacturers"]));

console.log("Models data: ", modelsData);
console.log("Manufacturers data: ", manufacturersData);

manufacturerDropdown.addEventListener("change", function() {
    var manufacturerId = this.value;

    console.log("Selected manufacturer ID: ", manufacturerId);

    if (manufacturerId == "-1") {
        newManufacturerInput.style.display = "block";
        newManufacturerInput.querySelector("input").disabled = false;

        newModelInput.style.display = "block";
        newModelInput.querySelector("input").disabled = false;

        modelDropdown.style.display = "none";
        modelDropdown.disabled = true;

        // Hide the model label
        modelLabel.style.display = "none";
    } else {
        newManufacturerInput.style.display = "none";
        newManufacturerInput.querySelector("input").disabled = true;

        newModelInput.style.display = "none";
        newModelInput.querySelector("input").disabled = true;

        modelDropdown.style.display = "block";
        modelDropdown.disabled = false;

        // Show the model label
        modelLabel.style.display = "block";

        var relatedModels = modelsData.filter(m => m.manufacturerId == manufacturerId);

        console.log("Related models: ", relatedModels);

        var modelOptions = relatedModels.map(m => `<option value="${m.modelId}">${m.modelName}</option>`).join("");
        modelDropdown.innerHTML = '<option value="" selected disabled>Select a model</option>' +
                                  '<option value="-1">Create New</option>' + modelOptions;
    }
});

modelDropdown.addEventListener("change", function() {
    var modelId = this.value;

    if (modelId == "-1") {
        newModelInput.style.display = "block";
        newModelInput.querySelector("input").disabled = false;
    } else {
        newModelInput.style.display = "none";
        newModelInput.querySelector("input").disabled = true;
    }
});


        </script>






    }
}

