@model MACK.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}
<div class="vehicle-data-title flex">
    <h2>Are you sure you want to delete this?</h2>
</div>
<div>
    <!-- Vehicle Card -->
    <div class="vehicle-card card-link">
        <!-- Vehicle Image-->
        <div class="row vehicle-form">
            <div class="col-md-4 vehicle-column">
                <!-- First column -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="VIN" class="control-label"></label>
                    <input asp-for="VIN" class="form-control" readonly="readonly"/>
                    <span asp-validation-for="VIN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fuel" class="control-label"></label>
                    <input asp-for="Fuel" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Fuel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExteriorColour" class="control-label"></label>
                    <input asp-for="ExteriorColour" class="form-control" readonly="readonly" />
                    <span asp-validation-for="ExteriorColour" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InteriorColour" class="control-label"></label>
                    <input asp-for="InteriorColour" class="form-control" readonly="readonly" />
                    <span asp-validation-for="InteriorColour" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BodyDoorCount" class="control-label"></label>
                    <input asp-for="BodyDoorCount" class="form-control" readonly="readonly" />
                    <span asp-validation-for="BodyDoorCount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 vehicle-column">
                <!-- Second column -->
                <div class="form-group">
                    <label asp-for="Features" class="control-label"></label>
                    <input asp-for="Features" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Features" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModelId" class="control-label model-control"></label>
                    <select asp-for="ModelId" class="form-control model-control-dropdown" asp-items="ViewBag.ModelId" readonly="readonly"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StockNumber" class="control-label"></label>
                    <input asp-for="StockNumber" class="form-control" readonly="readonly" />
                    <span asp-validation-for="StockNumber" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input my-2" asp-for="IsUsed" disabled /> @Html.DisplayNameFor(model => model.IsUsed)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input my-2" asp-for="IsAutomatic" disabled /> @Html.DisplayNameFor(model => model.IsAutomatic)
                    </label>
                </div>
            </div>

        </div> <div class="col-md-12 text-center">
            <!-- Button column -->
            <div class="form-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="VehicleId" />
                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
