@model MACK.Models.Vehicle

@{
    ViewData["Title"] = "Edit";
}

<div class="vehicle-data-title flex">
    <h2>Edit Vehicle</h2>
</div>
<hr />
<form asp-action="Edit">
    <div class="row vehicle-form">
        <div class="col-md-4 vehicle-column">
            <!-- First column -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VIN" class="control-label"></label>
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuel" class="control-label"></label>
                <input asp-for="Fuel" class="form-control" />
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExteriorColour" class="control-label"></label>
                <input asp-for="ExteriorColour" class="form-control" />
                <span asp-validation-for="ExteriorColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InteriorColour" class="control-label"></label>
                <input asp-for="InteriorColour" class="form-control" />
                <span asp-validation-for="InteriorColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyDoorCount" class="control-label"></label>
                <input asp-for="BodyDoorCount" class="form-control" />
                <span asp-validation-for="BodyDoorCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 vehicle-column">
            <!-- Second column -->
            <div class="form-group">
                <label asp-for="Features" class="control-label"></label>
                <input asp-for="Features" class="form-control" />
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label model-control"></label>
                <select asp-for="ModelId" class="form-control model-control-dropdown" asp-items="ViewBag.ModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockNumber" class="control-label"></label>
                <input asp-for="StockNumber" class="form-control" />
                <span asp-validation-for="StockNumber" class="text-danger"></span>
            </div>
            <div class="form-checks">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input my-2" asp-for="IsUsed" /> @Html.DisplayNameFor(model => model.IsUsed)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input my-2" asp-for="IsAutomatic" /> @Html.DisplayNameFor(model => model.IsAutomatic)
                    </label>
                </div>
            </div>
        </div>
       
        </div> <div class="col-md-12 text-center">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
